<section class="wrapper wrapper-full-page bg-img overlay">
  <nav class="navbar navbar-dark navbar-expand-md navbar-toggleable-sm">
    <div class="container">
      <a class="navbar-brand">
        <img src="https://res.cloudinary.com/iolarav/image/upload/v1569355074/iris-logo_no5zph.png" width="30"
          height="30" class="d-inline-block align-top" alt="">
        GOAL TRACKER
      </a>
      <button mat-ripple class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="btn active" routerLinkActive="active">About Us</a>
          </li>
          <li class="nav-item">
            <a class="btn" [routerLink]="['/contact']">Contact Us</a>
          </li>
          <li class="nav-item">
            <a class="btn" [routerLink]="['/team']">Our Team</a>
          </li>
          <li class="nav-item">
            <a class="btn" [routerLink]="['/faq']">FAQ</a>
          </li>
          <li class="nav-item">
            <a class="btn btn-primary" [routerLink]="['/']">Get Started</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="sub-container container">
    <h2>FAQs</h2>
    <div class="empty"></div>
  </div>

  <div class="sub-container container">
    <div class="faq-questions">

      <input type="checkbox" id="toggle1" class="toggle" />
      <label class="title" for="toggle1">
        <h3>Is it free?</h3>
      </label>
      <div class="faq-answer">
        <p> Yes, it is free. </p>
      </div>

    </div>

    <div class="faq-questions">

      <input type="checkbox" id="toggle2" class="toggle" />
      <label class="title" for="toggle2">
        <h3>Can I view my goals offline?</h3>
      </label>
      <div class="faq-answer">
        <p> No, currently goals cannot be viewed offline. </p>
      </div>

    </div>

    <div class="faq-questions">

      <input type="checkbox" id="toggle3" class="toggle" />
      <label class="title" for="toggle3">
        <h3>Where is my goal stored?</h3>
      </label>
      <div class="faq-answer">
        <p> Your goals are stored on our secured cloud database. </p>
      </div>

    </div>

    <div class="faq-questions">

      <input type="checkbox" id="toggle4" class="toggle" />
      <label class="title" for="toggle4">
        <h3>How do you use my information?</h3>
      </label>
      <div class="faq-answer">
        <p> Your information are protected by our privacy policy and are not in anyway considered public document.
        </p>
      </div>

    </div>

    <div class="faq-questions">

      <input type="checkbox" id="toggle5" class="toggle" />
      <label class="title" for="toggle5">
        <h3>Can I get the goal tracker on playstore or app store?</h3>
      </label>
      <div class="faq-answer">
        <p> No, goal tracker can only be used on the web.</p>
      </div>

    </div>

    <div class="faq-questions">

      <input type="checkbox" id="toggle6" class="toggle" />
      <label class="title" for="toggle6">
        <h3>Can I set time tracker for my goal?</h3>
      </label>
      <div class="faq-answer">
        <p> This feature does not exist yet. </p>
      </div>

    </div>
  </div>
</section>
