/*---FAQS----*/

header {
  position: relative;
  padding: 2% 2%;
}

.sub-container {
  /*background-color: #f5f5f5;*/
  width: 50%;
  padding: 10px;
}

h2 {
  margin: 100px 0 5px 0;
}

.empty {
  display: block;
  content: " ";
  border: 1px solid #212529;
  width: 3%;
  margin: 0 0 2% 0;
}


h3 {
  /*background: #f5f5f52a;*/
  /*border: 1px solid;*/
  /* border-radius: 3px;*/
  margin: 0;
  padding: 6px;
}

.toggle {
  display: none;
}


.faq-questions {
  margin: 0;
  padding: 0;
}

.title,
.faq-answer {

  backface-visibility: hidden;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  transition: all 0.2s;
}

.title {
  /*background: #fff;*/
  padding: 1em;
  display: block;
  color: #212529;
  font-weight: bold;
}

.title:after,
.title:before {
  content: '';
  position: absolute;
  right: 1.25em;
  top: 1.20em;
  width: 2px;
  height: 0.70em;
  background-color: #212529;
  transition: all 0.2s;
}

.title:after {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.faq-answer {
  max-height: 0;
  overflow: hidden;
  background-color: rgba(202, 199, 199, 0.384);
}

.faq-answer p {
  margin: 0;
  padding: 0.3em 1em 1em;
  font-size: 0.9em;
  line-height: 1.5;
}

/*--Display--*/

.toggle:checked+.title,
.toggle:checked+.title+.faq-answer {
  box-shadow: 1px 1px 4px #1d1d1d, -1px 1px 4px #ddd;
}

.toggle:checked+.title+.faq-answer {
  max-height: 500px;
}

.toggle:checked+.title:before {
  -webkit-transform: rotate(90deg) !important;
  transform: rotate(90deg) !important;
}


/*media Query*/

@media screen and (max-width: 720px) {
  .container {
    width: 100%;
    font-size: 0.75em;
  }

}




#home-body {
  padding-top: 80px;
}

#displayQuote {
  width: fit-content;
  background: var(--primary);
  color: #fff;
  padding: 0.5rem;
  border-radius: 5px;
  text-align: center;
  margin: 0 auto;
}

.mobile-padding {
  padding-top: 62px;
}

nav {
  padding-top: 20px;
}

.navbar-nav .nav-item a,
.navbar-nav .nav-item a:hover {
  color: black;
  cursor: pointer;
  text-decoration: none;
}

.navbar-nav .item {
  font-size: 1.4rem;
  color: black;
}

#navbarCollapse .navbar {
  background-color: #0d3349;
}

.note {
  font-size: 20px;
  margin-top: 25px;
  margin-bottom: 25px;
}

.register-button {
  outline: none;
}

.login-trigger,
.page-trigger {
  margin-right: 15px;
}

.login-trigger,
.register-trigger,
.page-trigger {
  color: black;
  padding: 10px;
}

.page-trigger.active,
.page-trigger:hover,
.login-trigger.active,
.login-trigger:hover,
.register-trigger.active,
.register-trigger:hover {
  color: black;
  border: 1px solid black;
  -webkit-transition: background-color 0.5s ease-out;
  -moz-transition: background-color 0.5s ease-out;
  -o-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
}

.col-4 {
  border-bottom: 1px solid #e5e5e5;
}

.tour-modal-body {
  height: 400px;
}

.tour-link {
  cursor: pointer;
}

button.close {
  outline: none;
}

@media (max-width: 767px) {
  .mobile-padding {
    padding-top: 0;
  }

  .mobile-margin-bottom {
    margin-bottom: 10vh;
  }
}

@media (min-width: 992px) {
  .row {
    margin-top: -6%;
    padding-bottom: 9%;
  }
}
