<section id="about">
  <nav class="navbar navbar-dark navbar-expand-md navbar-toggleable-sm">
    <div class="container">
      <a class="navbar-brand">
        <img src="https://res.cloudinary.com/iolarav/image/upload/v1569355074/iris-logo_no5zph.png" width="30"
          height="30" class="d-inline-block align-top" alt="">
        GOAL TRACKER
      </a>
      <button mat-ripple class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="btn active" routerLinkActive="active">About Us</a>
          </li>
          <li class="nav-item">
            <a class="btn" [routerLink]="['/contact']">Contact Us</a>
          </li>
          <li class="nav-item">
            <a class="btn" [routerLink]="['/team']">Our Team</a>
          </li>
          <li class="nav-item">
            <a class="btn" [routerLink]="['/faq']">FAQ</a>
          </li>
          <li class="nav-item">
            <a class="btn btn-primary" [routerLink]="['/']">Get Started</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container">

    <header class="section-header text-center mb-5 pb-2">
      <h3>About Us</h3>
      <p>We are Iris! A team of designers, developers and digital markerters in the HNG6.0 Internship. Launched in
        September 2019, Iris Goal Tracker App is the first product released by Team Iris. As Mark Victor Hansen said "By
        recording your dreams and goals, you set in motion the process of becoming the person you most want to be..."
      </p>
    </header>
    <div class="row about-cols">

      <div class="col-md-4 wow fadeInUp">
        <div class="about-col">
          <div class="img">
            <div class="icon"><i class="material-icons">speed</i></div>
          </div>
          <h2 class="title"><a href="#">Our Mission</a></h2>
          <p class="text-center">
            To utilize the power of technology in setting and reaching goals...
          </p>
        </div>
      </div>

      <div class="col-md-4 wow fadeInUp" data-wow-delay="0.1s">
        <div class="about-col">
          <div class="img">
            <div class="icon"><i class="material-icons">list</i></div>
          </div>
          <h2 class="title"><a href="#">Our Plan</a></h2>
          <p class="text-center">
            We Plan to integrate Artificial Intelligence to hitting your set targets.
          </p>
        </div>
      </div>


      <div class="col-md-4 wow fadeInUp" data-wow-delay="0.2s">
        <div class="about-col">
          <div class="img">
            <div class="icon"><i class="material-icons">remove_red_eye</i></div>
          </div>
          <h2 class="title"><a href="#">Our Vision</a></h2>
          <p class="text-center">
            To see you achieve more success in reaching more of your goals with Iris Goal Tracker.
          </p>
        </div>
      </div>

    </div>

  </div>
</section><!-- #about -->

<!--==========================
      Call To Action Section
    ============================-->
<section id="call-to-action" class="wow fadeIn">
  <div class="container text-center">
    <h3>Having Problems keeping track on your goals?</h3>
    <p class="text-center">
      With Iris Goal Tracker you can set and track your goals, track time, manage task, and lots more. </p>
    <a class="btn btn-primary" [routerLink]="['/']">Get Started</a>
  </div>
</section><!-- #call-to-action -->
