.card {
    background-color: rgba(255, 255, 255, 0.9);
    padding-bottom: 30px;
}

.access-title {
    margin-top: 30px;
    margin-bottom: 70px;
}

.input-group {
   padding-bottom: 10px;
}

.input-group, .btn-block {
    width: 80%;
}

.btn-block {
    margin-top: 50px;
}

@media (max-width: 768px) {
    .card {
        width: 90%;
        margin-bottom: 40px;
        margin-top: 0;
        top: 0;
        bottom: 0;
    }
}