<div class="card text-center mx-auto">
    <h2 class="access-title">Sign In</h2>
    <div>
        <form class="form">
            <div class="input-group mb-3 mx-auto">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="material-icons">email</i></span>
                </div>
                <input type="email" name="email" class="form-control" placeholder="E-mail Address" aria-label="email" required>
            </div>
        
            <div class="input-group mb-3 mx-auto">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="material-icons">lock</i></span>
                </div>
                <input type="password" name="password" class="form-control" placeholder="Password" aria-label="password" required>
            </div>
        
        </form>
    </div>
    <div>
        <button type="button" class="btn btn-primary btn-block mx-auto" routerLink="/dashboard">SIGN IN</button>
    </div>
</div>