.page-wrapper {
    position: relative;
    top: 0;
    min-height: 100vh;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    

}
.bg-image {
    background: url(https://res.cloudinary.com/iolarav/image/upload/v1569266550/samuel-zeller-rk_Zz3b7G2Y-unsplash_bqvywl.jpg) center no-repeat ;
    background-size: cover;
}
nav {
    padding-top: 20px;

}
.navbar {
    position: relative;
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
   
}
.container, .navbar-collapse, .navbar-nav, .main {
    display: flex;
}
.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 95%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    
}
img {
    vertical-align: top;
}
.navbar-brand {
    display: inline-block;
    margin-right: 1rem;
    font-size: 1.25rem;

}
.navbar-collapse {
    flex-basis: auto;
    margin-right: 40px;

}
.navbar-nav, .main {
    flex-direction: row;
    
}
.nav-item {
    list-style: none;
    padding: 10px 20px;
    
}
.contact {
    border: 1px solid black;
    border-radius: 0.25rem;
   
}
.navitem-link {
    text-decoration: none;
    color: #000000;
    line-height: 1.5;
    font-size: 1rem;

}
.main-div {
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.2;
    color: #212529;
    text-align: left;
    padding-top: 20px;
    margin-left: 50px;

}
.main-text {
    font-size: 3.5rem;

}
.sub-text {
    font-size: 20px;
    margin-bottom: 25px;

}
.btn {
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    border-radius: 0.3rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    background-color: #0083FF;
    border-color: #007bff;
    line-height: 1.5;
    font-weight: 400;
    text-align: center;
    padding: 8px 16px;
    color: #ffffff;
}
.contact-form {
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 9px 9px 9px rgba(92, 218, 122, 0.24);
    max-width: 30%;
    margin: 40px auto;
    border: none;
}

.access-title {
    margin-top: 5px;
    margin-bottom: 20px;
    padding-top: 30px;
    text-align: center;
    
}
.msg-form {
   text-align: left;
   margin-left: 50px;
}
.labels {
    padding-bottom: 10px;
    font-weight: bold;
}

.input-box, .button {
    height: 20px;

}
.input-box, .msg-box{
    margin-top: 5px;
    
}
.input-box, .msg-box, .button {
    width: 300px;
    border-radius: 3px;
}
.msg-box {
    height: 100px;
    box-shadow: 9px 9px 9px rgba(92, 218, 122, 0.24);

}
#send-msg {
    color: #ffffff;
    background-color: #007bff;
    margin-bottom: 30px;
    height: 30px;
    margin-top: 10px;
   
}

@media (max-width: 768px) {
    .contact-form {
        width: 90%;
        margin-bottom: 40px;
        margin-top: 0;
        top: 0;
        bottom: 0;
    }

}