#home-body {
  padding-top: 80px;
}

.row {
  padding-top: 62px;
}

nav {
  padding-top: 20px;
}

.navbar-nav .nav-item a,
.navbar-nav .nav-item a:hover {
  color: black;
  cursor: pointer;
  text-decoration: none;
}

.navbar-nav .item {
  font-size: 1.4rem;
  color: black;
}

#navbarCollapse .navbar {
  background-color: #0d3349;
}

.note {
  font-size: 20px;
  margin-top: 25px;
  margin-bottom: 25px;
}

.register-button {
  outline: none;
}

@media (max-width: 767px) {
  .mobile-padding {
    padding-top: 0;
  }

  .mobile-margin-bottom {
    margin-bottom: 10vh;
  }
}

@media (min-width: 992px) {
  .row {
    margin-top: -6%;
    padding-bottom: 9%;
  }
}

.card {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 30px;
}

.access-title {
  margin-top: 30px;
  margin-bottom: 70px;
}

.input-group {
  padding-bottom: 10px;
}

.input-group,
.btn-block {
  width: 80%;
}

.btn-block {
  margin-top: 50px;
}

@media (max-width: 768px) {
  .card {
    width: 90%;
    margin-bottom: 40px;
    margin-top: 0;
    top: 0;
    bottom: 0;
  }
}
