/*---FAQS----*/

* {
  box-sizing: border-box;
  max-width: 100%;
}


body{
    font-family: 'Roboto''Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 24x;
    background-image:linear-gradient(rgba(124, 121, 121, 0.548),rgba(124, 121, 121, 0.548)), url(https://res.cloudinary.com/iolarav/image/upload/v1569266550/samuel-zeller-rk_Zz3b7G2Y-unsplash_bqvywl.jpg);
    background-attachment: fixed;
    background-size: cover;
    color: #212529;
    height: 100vh;
}

header{
    position: relative;
    padding: 2% 2% ;
}
figure{
    float: left;
    margin: 0;
}

nav{
    float: right;
}

ul{ 
    padding: 0;
    margin: 0;
}
.nav-list{
    display: inline-block;
    list-style: none;
    margin: 0 3px;
    padding: 2px;
}

.container{
    /*background-color: #f5f5f5;*/
	  width: 50%;
    padding: 10px;
}


a:hover,
a:active{
    border:1px solid #212529;
    padding: 4px;
    border-radius: 3px;
}


a:link{
    text-decoration: none;
}
a:active,
a:hover,
a:visited,
a:link{
    color: #212529;
}

h2{
    margin: 100px 0 5px 0;
}

.empty{
    display: block;
    content: " ";
    border:1px solid #212529;
    width: 3%;
    margin: 0 0 2% 0;
}


h3{
    /*background: #f5f5f52a;*/
    /*border: 1px solid;*/
   /* border-radius: 3px;*/
    margin: 0;
    padding: 6px;
}

.toggle {
  display: none;
}


.faq-questions{ margin: 0; padding: 0;}

.title,
.faq-answer {
 
  backface-visibility: hidden;
 -webkit-transform: translateZ(0);
  transform: translateZ(0);
  transition: all 0.2s;
}

.title {
  /*background: #fff;*/
  padding: 1em;
  display: block;
  color: #212529;
  font-weight: bold;
}

.title:after, .title:before {
  content: '';
  position: absolute;
  right: 1.25em;
  top: 1.20em;
  width: 2px;
  height: 0.70em;
  background-color: #212529;
  transition: all 0.2s;
}

.title:after {
 -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.faq-answer {
  max-height: 0;
  overflow: hidden;
  background-color: rgba(202, 199, 199, 0.384);
}
.faq-answer p {
  margin: 0;
  padding: 0.3em 1em 1em;
  font-size: 0.9em;
  line-height: 1.5;
}

/*--Display--*/

.toggle:checked + .title, .toggle:checked + .title + .faq-answer {
  box-shadow: 1px 1px 4px #1d1d1d, -1px 1px 4px #ddd;
}

.toggle:checked + .title + .faq-answer{
  max-height: 500px;
}

.toggle:checked + .title:before {
-webkit-transform: rotate(90deg) !important;
 transform: rotate(90deg) !important;
}


/*media Query*/

@media screen and (max-width: 720px) {
 .container {
  width: 100%;
  font-size: 0.75em;
 }
 
}










/*body{
    font-family: 'Roboto''Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 24x;
    background-image:linear-gradient(rgba(124, 121, 121, 0.548),rgba(124, 121, 121, 0.548)), url(https://res.cloudinary.com/iolarav/image/upload/v1569266550/samuel-zeller-rk_Zz3b7G2Y-unsplash_bqvywl.jpg);
    background-attachment: fixed;
    background-size: cover;
    color: #212529;
    height: 100vh;
}

/*.head{
    position: relative;
    padding: 0;
}
div.head{
    padding: 0;
}*/

/*
header{
    position: relative;
    padding: 2% 2% ;
}
figure{
    float: left;
    margin: 0;
}

nav{
    float: right;
}

ul{ 
    padding: 0;
    margin: 0;
}
.nav-list{
    display: inline-block;
    list-style: none;
    margin: 0 3px;
    padding: 2px;
}

.nav-list:hover,
.nav-list:active{
    border:1px solid #212529;
    padding: 4px;
    border-radius: 3px;
}

.container{
    /*background-color: #f5f5f5;*/
/*    width: 50%;
    padding: 13px;
}

a:link{
    text-decoration: none;
}
a:active,
a:hover,
a:visited,
a:link{
    color: #212529;
}

li {
    list-style: none;
}

h2{
    margin: 100px 0 5px 0;
}

h3{
    background-color: #f5f5f52a;
    border: 1px solid;
    border-radius: 5px;
    margin: 0;
    padding: 5px;
}

.empty{
    display: block;
    content: " ";
    border:1px solid #212529;
    width: 3%;
    margin: 0;
}


.faq-answer{
    display: none;
    padding: 8px;
    background-color: rgba(202, 199, 199, 0.384);
}

*/


/*
html, body {
  height: 100%;
  margin: 0;
  padding: 0.25em;
  width: 100%;
  font: 16px 'Roboto';
  background-color: #eee;
  color: #7A7572;
}

.accordion {
  margin: 3em auto;
  max-width: 30em;
align-self: 

  
 .option {
  position: relative;
  margin-bottom: 1em;
}
  */

/*
.faq_question {
	margin: 0px;
	padding: 0px 0px 5px 0px;
	display: inline-block;
	cursor: pointer;
	font-weight: bold;
}

.faq_answer_container {
	height: 0px;
	overflow: hidden;
	padding: 0px;
}*/