body
{
  font-family: roboto;
	background-color: #F5F5F5;
	text-align: center;
}

h2{
	margin-top: 20px;
	font-size: 40px;
	color: #E6E6E6;
}

.container
{
	border: 2px solid #E6E6E6;
	clear: both;
	margin-top: 20px;
	height: 100px;
	width: 400px;
	padding: 10px;
	margin-left: 300px;
	border-radius: 3px;
}

p{
  margin-top: 20px;
  color: #0083ff;
}