body {
  margin: 0;
  padding: 0;
  background: white;
  text-align:center;
}

.ratings input {
  display: none;
}

p {
  font-size: 22px;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%,-50%);
  postion: flex;
  
}

.ratings {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%) rotateY(180deg);
  display: flex;

}

.ratings label {
  display: block;
  cursor: pointer;
  width: 50px;
}

.ratings label:before {
  content: '\f005';
  font-family: fontAwesome;
  position: relative;
  display: block;
  font-size: 50px;
  color: #101010;
}

.ratings label:after {
  content: '\f005';
  font-family: fontAwesome;
  position: absolute;
  display: block;
  font-size: 50px;
  color: #3856db;
  top: 0;
  opacity: 0;
  transition: .5s;
  text-shadow: 0 2px 5px rgba(0, 0, 0, .5);
}

.ratings label:hover:after,
.ratings label:hover ~ label:after,
.ratings input:checked ~ label:after {
  opacity: 1;

}











/*body
{
  font-family:roboto;
	background-color: #F5F5F5;
	text-align:center;
}

* {
  margin: 0;
  padding: 0;
}

.rate {
  border:2px solid #E6E6E6;
	margin-top:25px;
  text-align: center;
  margin: 4% auto;
  padding: 40px 0;
	width:93%;
  max-width:350px;
	border-radius:5px;
  overflow: hidden;
}

div.stars {
  width: 270px;
  display: inline-block;
}

input.star {
  display: none;
}

label.star {
  float: right;
  padding: 10px;
  font-size: 36px;
  transition: all 0.2s;
}

input.star:checked ~ label.star:before {
  content: '\f005';
  color: #F5F5F5;
  transition: all 0.2s;
}

input.star-5:checked ~ label.star:before {
  color: #F5F5F5;
  text-shadow: 0 0 20px #952;
}

label.star:before {
  content: '\f006';
  font-family: FontAwesome;
}

input.star-1:checked ~ label.star:before {
  color: rgb(245, 245, 245);