<div class="container-fluid">
    <div class="row h-100">
        <div class="col-md-3 my-auto">
            <div class="card text-center profile mx-auto">
                <div class="card-body">
                    <div class="picture">
                        <img src="https://res.cloudinary.com/iolarav/image/upload/v1569341519/Profile_avatar_placeholder_large_bn7zhu.png" alt="My Picture" class="img-fluid rounded-circle">
                    </div>
                    <div class="name">
                        <h5>John Doe</h5>
                        <p>johnjoe@gmail.com</p>
                    </div>
                    <div class="edit-button">
                        <i class="material-icons">edit</i><span class="edit">Edit</span>
                    </div>
                </div>
            </div>
            <div class="card new-goal text-center">
                <form>
                    <h4>Add new goal</h4>
                    <div class="input-group mb-3 mx-auto">
                        <input type="text" name="title" class="form-control" placeholder="Title" aria-label="title" required>
                    </div>
                    <div class="input-group mb-3 mx-auto">
                        <textarea type="description" name="description" class="form-control" rows="5" placeholder="Description" aria-label="description" required></textarea>
                    </div>
                    <div>
                        <button class="btn" type="submit"><i class="material-icons check">check</i></button>
                    </div>
                </form>             
            </div>
        </div>
        <div class="col-md-6 my-auto">
            <h3>At a glance</h3>
            <div class="row">
                <div class="col-md-4">
                    <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <h3 class="my-goals">My Goals</h3>
                    <li>f</li>
                    <li>f</li>
                    <li>f</li>
                    <li>f</li>
                    <li>f</li>
                    <li>f</li>
                    <li>f</li>
                </div>
            </div>
            <div><h6>View more</h6></div>
        </div>
        <div class="col-md-3 my-auto">
            <div class="card sample-goal">
                <h3>Sample Goal</h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quo, natus!</p>
                <p><strong>95% complete</strong></p>

                <div class="d-flex align-items-center justify-content-center">
                    <div class="input-group d-flex mb-3 mx-auto">
                        <input type="text" placeholder="Add new to-do item" name="new-todo" class="new-todo form-control" aria-label="new-todo" required>
                    </div>
                    <button class="btn d-flex" type="submit"><i class="material-icons add">add</i></button>
                </div>
                <div class="todo-item">
                    <input class="checkbox" type="checkbox" name="todo">Sample Todo<span style="float: right;"><i class="material-icons delete">delete</i></span>
                </div>
                <div class="todo-item">
                    <input class="checkbox" type="checkbox" name="todo">Sample Todo<span style="float: right;"><i class="material-icons delete">delete</i></span>
                </div>
                <div class="todo-item">
                    <input class="checkbox" type="checkbox" name="todo">Sample Todo<span style="float: right;"><i class="material-icons delete">delete</i></span>
                </div>
                <div class="todo-item">
                    <input class="checkbox" type="checkbox" name="todo">Sample Todo<span style="float: right;"><i class="material-icons delete">delete</i></span>
                </div>
                <div class="todo-item">
                    <input class="checkbox" type="checkbox" name="todo">Sample Todo<span style="float: right;"><i class="material-icons delete">delete</i></span>
                </div>
                <div class="todo-item">
                    <input class="checkbox" type="checkbox" name="todo">Sample Todo<span style="float: right;"><i class="material-icons delete">delete</i></span>
                </div>
                <div class="todo-item">
                    <input class="checkbox" type="checkbox" name="todo">Sample Todo<span style="float: right;"><i class="material-icons delete">delete</i></span>
                </div>
            </div>
        </div>
    </div>
</div>