<div class="card text-center mx-auto">
  <h2 class="access-title">Forgot Password</h2>
  <div>


    <form class="form" [formGroup]="emailForm" (ngSubmit)="onSubmit(emailForm.value)">
      <p>
        Please enter your email address below and we will send you information to change your password.
      </p>
      <div class="input-group mb-3 mx-auto">
        <div class="input-group-prepend">
          <span class="input-group-text"><i class="material-icons">email</i></span>
        </div>
        <input type="email" formControlName="email" name="email" class="form-control" placeholder="E-mail Address"
          aria-label="email" required>
      </div>

      <div>
        <button type="submit" [disabled]="!emailForm.valid" class="btn btn-primary btn-block mx-auto">
          <div *ngIf="!loading">Reset</div>
          <div *ngIf="loading" class="spinner-border spinner-border-sm" role="status">
            <span class="sr-only">Loading...</span>
          </div>
        </button>
      </div>
    </form>
  </div>
</div>
