<main class="container">
  <section class="header">
    <nav class="navbar navbar-dark navbar-expand-md navbar-toggleable-sm">
      <div class="container">
        <div>
          <a class="navbar-brand">
            <img src="https://res.cloudinary.com/iolarav/image/upload/v1569355074/iris-logo_no5zph.png" height="30"
              width="30" alt="Team Iris Logo"> GOAL TRACKER
          </a>
        </div>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="btn" [routerLink]="['/about']">About Us</a>
            </li>
            <li class="nav-item">
              <a class="btn" [routerLink]="['/contact']">Contact Us</a>
            </li>
            <li class="nav-item">
              <a class="btn active" routerLinkActive="active">Our Team</a>
            </li>
            <li class="nav-item">
              <a class="btn" [routerLink]="['/faq']">FAQ</a>
            </li>
            <li class="nav-item">
              <a class="btn btn-primary" [routerLink]="['/']">Get Started</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </section>

  <section class="team-note">
    <h2>Meet Team Iris</h2>
    <hr>
    <p><i>We created a goal tracker to motivate visitors to our site towards achieving their goals. We all have
        goals in life and it is easy to procastinate and give up if you do not have SMART goals. This app assists
        you in keeping up with tracking those activities that would enable you achieve your goals and celebrate
        these achievements with your friends and family via social media. Meet the team that came together to create
        this wonderful app. This is US.</i></p>
  </section>

  <section class="teamlist">
    <div class="team">
      <img class="profile"
        src="https://res.cloudinary.com/partypack/image/upload/ar_1:1,b_rgb:ffffff,bo_5px_solid_rgb:ffffff,c_fill,g_auto,r_max,w_92/v1570182925/abdulwasiu1_wclj9v_vquglu.jpg">
      <div class="team-info">
        <p><strong>Abdulwasiu Balogun</strong></p>
        <p style="color: grey">@AbdulwasiuBalogun</p>
        <h5>FRONT END</h5>
      </div>
    </div>

    <div class="team">
      <img class="profile"
        src="https://res.cloudinary.com/partypack/image/upload/ar_1:1,b_rgb:ffffff,bo_2px_solid_rgb:ffffff,c_fill,g_auto,r_max,w_92/v1567539703/egougwu_ugqftf.jpg">
      <div class="team-info">
        <p><strong>Ego Ugwu</strong></p>
        <p style="color: grey">@Ego</p>
        <h5>FRONT END</h5>
      </div>
    </div>

    <div class="team">
      <img class="profile"
        src="https://res.cloudinary.com/partypack/image/upload/ar_1:1,b_rgb:ffffff,bo_2px_solid_rgb:ffffff,c_fill,g_auto,r_max,w_92/v1570213099/Fatimah-Iris_hzvsqi.jpg">
      <div class="team-info">
        <p><strong>Fatimah Davies</strong></p>
        <p style="color: grey">@Fatimah_Davies</p>
        <h5>FRONT END</h5>
      </div>
    </div>

    <div class="team">
      <img class="profile"
        src="https://res.cloudinary.com/partypack/image/upload/ar_1:1,b_rgb:ffffff,bo_2px_solid_rgb:ffffff,c_fill,g_auto,h_95,r_max,w_92/v1570209470/ikechukwu_iz51mj_qpdhfr.jpg">
      <div class="team-info">
        <p><strong>Ikechukwu Onu</strong></p>
        <p style="color: grey">@InfoKid</p>
        <h5>UI/UX DESIGN</h5>
      </div>
    </div>

    <div class="team">
      <img class="profile"
        src="https://res.cloudinary.com/partypack/image/upload/ar_1:1,b_rgb:ffffff,bo_2px_solid_rgb:ffffff,c_fill,g_auto,h_95,r_max,w_92/v1570270738/IMG_0176_kpqli2_o5dsr6.jpg">
      <div class="team-info">
        <p><strong>Ibrahim Oluwapeluwa</strong></p>
        <p style="color: grey">@Ipeluwa</p>
        <h5>UI/UX DESIGN</h5>
      </div>
    </div>

    <div class="team">
      <img class="profile"
        src="https://res.cloudinary.com/partypack/image/upload/ar_1:1,b_rgb:ffffff,bo_2px_solid_rgb:ffffff,c_fill,g_auto,h_95,r_max,w_92/v1570214299/lascotstudios_9_of_138_-1_mr78ep_y25nfc.jpg">
      <div class="team-info">
        <p><strong>Joseph Philip</strong></p>
        <p style="color: grey">@Joe</p>
        <h5>MOBILE DEV</h5>
      </div>
    </div>

    <div class="team">
      <img class="profile"
        src="https://res.cloudinary.com/partypack/image/upload/ar_1:1,b_rgb:ffffff,bo_2px_solid_rgb:ffffff,c_fill,g_auto,h_100,r_max,w_92/v1570183204/j3uTyFEL_400x400_fddi3m.jpg">
      <div class="team-info">
        <p><strong>Kubiat Morgan</strong></p>
        <p style="color: grey">@Kubiat</p>
        <h5>BACK END</h5>
      </div>
    </div>

    <div class="team">
      <img class="profile" src="https://hngi6.slack.com/files/UMTLS8T0B/FP334BSTF/photogrid_1490621960100.jpg">
      <div class="team-info">
        <p><strong>Eniola Olowoyo</strong></p>
        <p style="color: grey">@iola</p>
        <h5>FRONT END</h5>
      </div>
    </div>

    <div class="team">
      <img class="profile"
        src="https://res.cloudinary.com/partypack/image/upload/ar_1:1,b_rgb:ffffff,bo_5px_solid_rgb:ffffff,c_fill,g_auto,h_95,r_max,w_92/v1570209494/IMG_0062_ju2cci_nlzres.jpg">
      <div class="team-info">
        <p><strong>Love Sparus Otudor</strong></p>
        <p style="color: grey">@Love Sparus</p>
        <h5>MOBILE DEV</h5>
      </div>
    </div>

    <div class="team">
      <img class="profile"
        src="https://res.cloudinary.com/partypack/image/upload/ar_1:1,b_rgb:ffffff,bo_2px_solid_rgb:ffffff,c_fill,g_auto,h_95,r_max,w_92/v1570214321/oluchiuche_cgki8a.jpg">
      <div class="team-info">
        <p><strong>Oluchi Onyekpa</strong></p>
        <p style="color: grey">@Oluchii</p>
        <h5>FRONT END</h5>
      </div>
    </div>
    <div class="team">
      <img class="profile"
        src="https://res.cloudinary.com/partypack/image/upload/ar_1:1,b_rgb:ffffff,bo_2px_solid_rgb:ffffff,c_fill,g_auto,h_95,r_max,w_92/v1570270711/IMG_3052_copy2_foalke_budeyi.jpg">
      <div class="team-info">
        <p><strong>Praise Inua</strong></p>
        <p style="color: grey">@Praise Inua</p>
        <h5>FRONT END</h5>
      </div>
    </div>

    <div class="team">
      <img class="profile"
        src="https://res.cloudinary.com/partypack/image/upload/ar_1:1,b_rgb:ffffff,bo_2px_solid_rgb:ffffff,c_fill,g_auto,h_95,r_max,w_92/v1570213287/mee_yedo3u_iqdga8.jpg">
      <div class="team-info">
        <p><strong>Theresa Nde</strong></p>
        <p style="color: grey">@theresande</p>
        <h5>FRONT END</h5>
      </div>
    </div>

    <div class="team">
      <img class="profile"
        src="https://res.cloudinary.com/partypack/image/upload/ar_1:1,b_rgb:ffffff,bo_2px_solid_rgb:ffffff,c_fill,g_auto,h_95,r_max,w_92/v1570214265/1_UhzkuLZVGEncFPrWafablQ_Cropped_zxxmqi.jpg">
      <div class="team-info">
        <p><strong>Oluwabamise Ojo</strong></p>
        <p style="color: grey">@Valar Dohaeris</p>
        <h5>FRONT END</h5>
      </div>
    </div>
  </section>

  <footer>
    <p>Team Iris - making sure you achieve your goals.</p>
  </footer>
</main>
