#home-body {
  padding-top: 80px;
}

#displayQuote {
  width: fit-content;
  background: var(--primary);
  color: #fff;
  padding: 0.5rem;
  border-radius: 5px;
  text-align: center;
  margin: 0 auto;
}

.mobile-padding {
  padding-top: 62px;
}

nav {
  padding-top: 20px;
}

.navbar-nav .nav-item a,
.navbar-nav .nav-item a:hover {
  color: black;
  cursor: pointer;
  text-decoration: none;
}

.navbar-nav .item {
  font-size: 1.4rem;
  color: black;
}

#navbarCollapse .navbar {
  background-color: #0d3349;
}

.note {
  font-size: 20px;
  margin-top: 25px;
  margin-bottom: 25px;
}

.register-button {
  outline: none;
}

.login-trigger,
.page-trigger {
  margin-right: 15px;
}

.login-trigger,
.register-trigger,
.page-trigger {
  color: black;
  padding: 10px;
}

.page-trigger.active,
.page-trigger:hover,
.login-trigger.active,
.login-trigger:hover,
.register-trigger.active,
.register-trigger:hover {
  color: black;
  border: 1px solid black;
  -webkit-transition: background-color 0.5s ease-out;
  -moz-transition: background-color 0.5s ease-out;
  -o-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
}

.col-4 {
  border-bottom: 1px solid #e5e5e5;
}

.tour-modal-body {
  height: 400px;
}

.tour-link {
  cursor: pointer;
}

button.close {
  outline: none;
}

@media (max-width: 767px) {
  .mobile-padding {
    padding-top: 0;
  }

  .mobile-margin-bottom {
    margin-bottom: 10vh;
  }
}

@media (min-width: 992px) {
  .row {
    margin-top: -6%;
    padding-bottom: 9%;
  }
}
